<template>
  <section class="hero is-fullheight">
    <video :src="require(`@/assets/videos/animated-video-${video.id}.mp4`)" autoplay controls
           @ended="onVideoEnded"></video>

    <transition enter-active-class="animated fadeIn">
      <section class="hero is-fullheight" v-show="videoEnded">
        <div class="hero-body">
          <div class="container">
            <div class="columns is-vcentered has-text-centered">
              <div class="column">
                <button class="button is-warning is-large goto-restart" @click="restart">Restart</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </transition>
  </section>
</template>

<script>
  export default {
    name: 'AnimatedVideo',
    data () {
      return {
        videoEnded: false,
        videos: [
          { id: 1, next: '/storyboard' },
          { id: 2, next: '/middle' },
          { id: 3, next: '/five-w' },
          { id: 4, next: '/mix-match' }
        ]
      }
    },
    computed: {
      video () {
        return this.videos.find(video => video.id === parseInt(this.$route.params.id))
      },
      isLastVideo () {
        return parseInt(this.$route.params.id) >= this.videos.length
      }
    },
    methods: {
      onVideoEnded () {
        if (!this.isLastVideo) {
          this.$router.push(this.video.next)
        } else {
          this.videoEnded = true
        }
      },
      restart () {
        this.$router.push('/')
      }
    }
  }
</script>

<style lang="scss" scoped>
  video {
    width: 100%;
    height: 100vh;
    background-color: #000;
  }

  .hero {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .goto-restart {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }
</style>
