<template>
  <div class="flip-container" :class="{ 'is-flipped': isFlipped }" @click="flipCard(card)">
    <div class="flipper">
      <div class="front">
        <img :src="require(`@/assets/images/cards/unrevealed-${card.id}.png`)" class="is-card" alt=""/>
      </div>

      <div class="back">
        <img :src="require(`@/assets/images/cards/revealed-${card.id}.png`)" class="is-card" alt=""/>

        <p class="card-description content has-text-centered">{{ card.description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Card',
    props: {
      card: Object
    },
    data () {
      return {
        isFlipped: false
      }
    },
    methods: {
      flipCard (card) {
        this.isFlipped = true

        this.$store.commit('setCardSelected', card)

        this.$emit('setFlippedCard', card)
        this.$emit('openModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .flip-container {
    margin: 12%;
    perspective: 1000px;
    cursor: pointer;

    &.is-flipped .flipper {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }

  .is-flipped {
    pointer-events: none;
  }

  .card-description {
    line-height: 110%;
  }

  .flip-container, .front, .back {
    width: 15vw;
    height: 15vw;
  }

  .flipper {
    position: relative;
    transform-style: preserve-3d;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
  }

  .front, .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  .front {
    z-index: 2;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }

  .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
</style>
