<template>
    <div class="modal" :class="{ 'is-active': isModalActive }">
        <div class="modal-background" @click="closeModal"></div>

        <div class="modal-content has-text-centered" @click="closeModal">
            <img :src="require(`@/assets/images/cards/revealed-${flippedCard.id}.png`)"
                 :alt="`Image of ${flippedCard.description}`"/>
            <p class="content is-size-4"> {{flippedCard.description}} </p>
            <span class="is-size-6">(Click again OR Press ESC to go exit)</span>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'CardModal',
    props: {
      card: Object,
      flippedCard: Object,
      isModalActive: Boolean
    },
    mounted () {
      window.addEventListener('keyup', ev => {
        if (ev.key === 'Escape') this.closeModal()
      })
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .content {
        color: whitesmoke;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    img {
        width: 80%;
    }

    .modal-content {
        cursor: pointer;
    }
</style>
