<template>
  <div :id="`category-${category.id}`" class="box has-text-centered" :style="{ backgroundColor: category.theme }"
       @drop="onDrop" @dragover="onDragOver"
       ref="category">
    <h1 class="title has-text-centered">{{ category.text }}</h1>
  </div>
</template>

<script>
  export default {
    name: 'Category',
    props: {
      category: Object
    },
    methods: {
      onDrop (ev) {
        ev.preventDefault()
        const data = ev.dataTransfer.getData('text/plain')
        const category = this.$refs.category

        const card = document.getElementById(data)
        const isMatch = this.isMatch(card, category)

        if (isMatch) {
          card.draggable = false
          card.classList.remove('is-hover')
          card.classList.add('is-smaller')

          category.appendChild(card)

          this.$emit('increaseMatchCount')
        }
      },
      onDragOver (ev) {
        ev.preventDefault()
      },
      isMatch (card, category) {
        const categoryId = category.id.split('-')[1]

        return card.dataset.match === categoryId
      }
    }
  }
</script>

<style lang="scss" scoped>
  .box {
    margin-top: -4%;
    background-color: rgba(255, 255, 255, 0.25);
    min-height: 40vh;
    border: 2px solid #733623;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  .title {
    font-weight: normal;
    font-size: 1.2em;
    min-height: 5vh;
    margin-bottom: 0;
  }
</style>
