<template>
  <video :src="require(`@/assets/videos/copyright.mp4`)" autoplay muted playsinline @ended="onVideoEnded"></video>
</template>

<script>
  export default {
    name: 'Copyright',
    methods: {
      onVideoEnded () {
        this.$router.push('/introduction')
      }
    }
  }
</script>

<style lang="scss" scoped>
  video {
    width: 100%;
    height: 100vh;
  }
</style>
