<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered has-text-centered animated slideInUp">
          <div class="column is-half is-offset-one-quarter">
            <p class="content">
              © 2018 Curriculum Planning & Development Division
              <br/>
              Ministry of Education, Singapore
            </p>

            <p class="content">All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Credits',
    data () {
      return {
        photos: [
          {
            title: 'Photo of hydroponics farm © National Archives of Singapore'
          },
          {
            title: 'Photo of HDB flat © The Straits Times / Singapore Press Holdings'
          },
          {
            title: 'Photo of digestive system © think4photop/Shutterstock'
          }
        ],
        music: [
          {
            title: '"Impending Boom"',
            author: 'Kevin MacLeod (incompetech.com)',
            license: 'Licensed under Creative Commons: By Attribution 3.0',
            link: 'http://creativecommons.org/licenses/by/3.0'
          }, {
            title: 'Extracted from "Impending Boom"',
            author: 'Kevin MacLeod (incompetech.com)',
            license: 'Licensed under Creative Commons: By Attribution 3.0',
            link: 'http://creativecommons.org/licenses/by/3.0'
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  * {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
  }

  .slideInUp {
    animation-timing-function: linear;
    animation-duration: 5s;
  }

  .credits-roll {
    animation-name: creditsRoll;
    animation-timing-function: linear;
    animation-duration: 10s;
  }

  @keyframes creditsRoll {
    0% {
      -webkit-transform: translateY(125vh);
      -moz-transform: translateY(125vh);
      -ms-transform: translateY(125vh);
      -o-transform: translateY(125vh);
      transform: translateY(125vh);
    }

    100% {
      -webkit-transform: translateY(-125vh);
      -moz-transform: translateY(-125vh);
      -ms-transform: translateY(-125vh);
      -o-transform: translateY(-125vh);
      transform: translateY(-125vh);
    }
  }
</style>
