<template>
    <div :id="`sigma-${sigma.id}`" class="box" :class="[final ? 'box-finish' : '']" @drop="onDrop"
         @dragover="onDragOver">
        <div class="columns is-vcentered is-mobile">
            <div class="column is-one-fifth is-paddingless">
                <div class="is-sigma" :style="getColor">
                    <span>{{ sigma.name }}</span>
                </div>
            </div>

            <div :id="`dropzone-${sigma.id}`" class="column is-dropzone is-empty"></div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Dropzone',
    props: {
      sigma: Object,
      final: Boolean
    },
    computed: {
      getColor () {
        let color = `backgroundColor: ${this.sigma.color}`
        return color
      }
    },
    methods: {
      onDrop (ev) {
        ev.preventDefault()

        const data = ev.dataTransfer.getData('text/plain')
        const question = document.getElementById(data)

        const isMatch = this.isMatch(this.sigma, question.dataset)

        if (isMatch) {
          document.getElementById(`dropzone-${this.sigma.id}`).appendChild(question)
          question.classList.remove('is-question')

          let questionbox = document.getElementById(`dropzone-${this.sigma.id}`)
          questionbox.classList.remove('is-empty')

          this.$emit('increaseMatchCount')
        }
      },
      onDragOver (ev) {
        ev.preventDefault()
      },
      isMatch (sigma, question) {
        return sigma.id === parseInt(question.match)
      }
    }
  }
</script>

<style lang="scss" scoped>
    .box {
        background-color: rgba(255, 255, 255, 0.5);
        margin: 2% auto;
    }

    .box-finish {
        width: 70%;
        margin: 1% auto;
    }

    .is-dropzone {
        padding: 0;
    }

    .is-empty {
        border: 1px dashed black;
        min-height: 5vh;
    }
    .is-empty::after {
        content: "?";
        font-size: 2em;
        margin: 45%;
    }

    .is-matched {
        border: none !important;
    }

    .is-sigma {
        max-height: 8vh;
        width: 8vh;
        margin: 0 auto;
        border-radius: 50%;

        > span {
            font-size: 1.25em;
            float: left;
            width: 100%;
            padding-top: 50%;
            line-height: 1em;
            margin-top: -0.5em;
            text-align: center;
            color: #fff;
            text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
        }
    }
</style>
