<template>
    <div class="modal" :class="{ 'is-active': isActive }">
        <div class="modal-background" @click="closeModal "></div>

        <div class="modal-content has-text-centered">
            <div class="modal-card-head">
                <h1>Instructions</h1>
                <button class="delete" aria-label="close" @click="closeModal"></button>
            </div>

            <div class="modal-card-body">
                <p><span class="instruct">Drag and drop</span> the sentences from the <span class="top">right</span>, to match with the the 5 Ws & 1 H on <span class="bottom">left</span>.</p>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'FiveModal',
    props: {
      isActive: Boolean
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .modal-card-head {
        background-color: #ff5775;

        h1 {
            color: whitesmoke;
            font-size: 2em;
            margin: 0 auto;
            text-shadow: 0 0 20px #f3ffe6;
        }
    }

    .modal-card-body {
        background-color: beige;

        p {
            font-size: 1.5em;
        }
    }

    .modal-content {
        width: 40%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .delete {
        position: absolute;
        right: 5%;
    }

    .instruct {
        font-size: 1.5em;
        color: #b576ff;
    }

    .top {
        font-size: 1.5em;
        color: #ff5440;
    }

    .bottom {
        font-size: 1.5em;
        color: #4da3ff;
    }
</style>
