<template>
    <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/yellow-bg.jpg`)})` }">
        <div class="hero-body">
            <div class="container">
                <div class="is-instructions has-text-centered">
                    <h1>Drag and drop the sentences from the right, to match with the the 5 Ws & 1 H on left.</h1>
                    <p>Hint: Some of the 5W1H require multiple answers</p>
                </div>

                <div class="columns is-vcentered is-mobile">
                    <div class="column">
                        <dropzone :sigma="sigma" :key="sigma.id" v-for="sigma in sigmas"
                                  @increaseMatchCount="increaseMatchCount" :final="final"></dropzone>
                    </div>

                    <div class="column" v-if="!showNextButton">
                        <label :id="`question-${question.id}`"
                               class="label is-question is-rounded has-text-centered"
                               draggable="true" :data-match="question.match" :key="question.id"
                               v-for="question in questions"
                               @dragstart="onDragStart">
                            {{ question.text }}
                        </label>
                    </div>
                </div>

                <div class="go-to-match buttons is-centered" v-if="showNextButton">
                    <button class="button is-dark goto-mix-match" @click="gotoMixMatch">Go to Mix &amp; Match</button>
                </div>
            </div>
        </div>

        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
            <five-modal :key="isActive" :isActive="isActive" @closeModal="closeModal"/>
        </transition>

        <audio :src="require(`@/assets/audio/five-w-instruction.mp3`)" autoplay ref="audio"></audio>
    </section>
</template>

<script>
  import Dropzone from '@/components/Dropzone'
  import FiveModal from '@/components/FiveModal'

  export default {
    name: 'FiveW',
    components: {Dropzone, FiveModal},
    data () {
      return {
        sigmas: [
          {
            id: 1,
            name: 'Who',
            color: '#18bae0'
          },
          {
            id: 2,
            name: 'Where',
            color: '#b2ea0a'
          },
          {
            id: 3,
            name: 'Why',
            color: '#ff4b25'
          },
          {
            id: 4,
            name: 'What',
            color: '#ea5aa0'
          },
          {
            id: 5,
            name: 'How',
            color: '#ffd64e'
          },
          {
            id: 6,
            name: 'When',
            color: '#20a58f'
          }
        ],
        questions: [
          {id: 1, text: '_ has trouble with the internet?', match: 1},
          {id: 2, text: '_ would she be able to get help?', match: 6},
          {id: 3, text: '_ is the speaker?', match: 2},
          {id: 4, text: '_ does the mother have trouble?', match: 3},
          {id: 5, text: '_ she clicked open so many windows?', match: 3},
          {id: 6, text: '_ will happen if the computer hangs?', match: 4},
          {id: 7, text: '_ could "finding a connection" mean?', match: 4},
          {id: 8, text: '_ would she be affected if the computer hang?', match: 5}
        ],
        matchCount: 0,
        final: false,
        isActive: true
      }
    },
    watch: {
      matchCount () {
        if (this.matchCount >= this.questions.length) {
          const audio = this.$refs.audio
          audio.src = require(`@/assets/audio/five-w-matched.mp3`)

          audio.play()
        }
      }
    },
    computed: {
      showNextButton () {
        return this.matchCount >= this.questions.length
      }
    },
    methods: {
      onDragStart (ev) {
        ev.dataTransfer.setData('text/plain', ev.target.id)
        ev.dataTransfer.effectAllowed = 'move'
      },
      increaseMatchCount () {
        this.matchCount++

        if (this.matchCount >= this.questions.length) {
          this.final = true
        }
      },
      gotoMixMatch () {
        this.$router.push('/mix-match')
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
    .is-instructions {
        position: absolute;
        top: -12%;
        width: 100%;
        h1 {
            font-size: 1.5em;
        }
        p {
            font-size: 1.3em;
            text-decoration: underline;
            color: #3d6c86;
        }
    }
    .label {
        font-weight: normal;
        font-size: 1.5em;
        line-height: 120%;
    }

    .is-question {
        cursor: pointer;
        border: 1px solid #733623;
        border-radius: 15px;
        margin: 3% 0;
        padding: 1% 0;

        &:hover {
            color: whitesmoke;
            text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
            background-color: #5991e8;
        }
    }

    .is-dropzone {
        box-shadow: none;
        border: thin dashed #000;
    }

    .go-to-match {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
</style>
