<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/splash-screen.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="start-button-image column is-half is-offset-6">
            <img :src="require(`@/assets/images/splash-screen-button.png`)" class="start-button" alt="Start Button"
                 @click="start"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Introduction',
    methods: {
      start () {
        this.$router.push('/animated-video/1')
      }
    }
  }
</script>

<style lang="scss" scoped>
  @media only screen and (max-width: 600px) {
    .start-button-image {
    }
  }

  .hero {
    background: no-repeat right;
    background-size: cover;
  }

  .start-button-image {

    .start-button {
      margin-left: 15%;
      width: 70%;
      cursor: pointer;
      border-radius: 25px;

      &:hover {
        background-color: #747DE8;
        box-shadow: 0px 0px 9px 4px #747DE8;
        animation: glow 1.5s linear infinite alternate;
      }
    }
  }

  @keyframes glow{
    to {
      box-shadow: 0px 0px 30px 20px #747DE8;
    }
  }
</style>
