<template>
    <div class="column is-one-quarter">
        <div class="box columns is-vcentered" :class="[ matchQuestion.selected ? 'has-matched' : '' ]"
             :style="{ backgroundColor: matchQuestion.selected ? matchQuestion.theme : '' }"
             @click="checkMatchQuestion(matchQuestion)">
            <p class="content">{{ matchQuestion.text }}</p>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'MatchQuestion',
    props: {
      matchQuestion: Object
    },
    methods: {
      checkMatchQuestion (question) {
        this.$emit('setQuestionMatch', question)

        const box = this.$el.querySelector('.box')
        box.classList.add('is-selected')

        this.$emit('checkMatch')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .box {
        background-color: rgba(77, 163, 255, 0.4);
        cursor: pointer;
        min-height: 15vh;
        margin: 0;

        p {
            font-size: 1.1em;
            line-height: 120%;
        }

        &:hover {
            cursor: pointer;
            background-color: #4da3ff;
            animation: glow 0.75s linear infinite alternate;
        }

        @keyframes glow {
            to {
                box-shadow: 0px 0px 5px 5px #4da3ff;
            }
        }

        &.is-selected {
            color: #fff;
            background-color: #666a73;
            box-shadow: 0px 0px 5px 5px #51ffa3;
            cursor: not-allowed;
            pointer-events: none;
        }

        &.has-matched {
            cursor: not-allowed;
            pointer-events: none;
        }
    }
</style>
