<template>
    <div class="column is-one-quarter">
        <div class="box columns is-vcentered" :class="[ matchAnswer.selected ? 'has-matched' : '' ]"
             :style="{ backgroundColor: matchAnswer.selected ? matchAnswer.theme : '' }"
             @click="checkMatchAnswer(matchAnswer)">
            <p>{{ matchAnswer.text }}</p>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'MatchAnswer',
    props: {
      matchAnswer: Object
    },
    methods: {
      checkMatchAnswer (answer) {
        this.$emit('setAnswerMatch', answer)

        const box = this.$el.querySelector(`.box`)
        box.classList.add('is-selected')

        this.$emit('checkMatch')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .box {
        background-color: rgba(229, 75, 57, 0.4);
        cursor: pointer;
        margin: 0;
        min-height: 15vh;

        p {
            font-size: 1.1em;
            line-height: 120%;
        }

        &:hover {
            cursor: pointer;
            background-color: #ff5440;
            animation: glow 1s linear infinite alternate;
        }

        @keyframes glow {
            to {
                box-shadow: 0px 0px 5px 5px #ff5440;
            }
        }

        &.is-selected {
            color: #fff;
            background-color: #666a73;
            box-shadow: 0px 0px 5px 5px #51ffa3;
            cursor: not-allowed;
            pointer-events: none;
        }

        &.has-matched {
            cursor: not-allowed;
            pointer-events: none;
        }
    }
</style>
