<template>
    <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/yellow-bg.jpg`)})` }">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-3 go-one">
                        <img :src="require(`@/assets/images/pink.png`)" alt="">

                        <p>You have reached the end of Writing Part one.</p>

                        <button class="button is-danger" @click="goOne">Replay Part One</button>
                    </div>

                    <div class="poem-paper column is-4 is-offset-1">
                        <p class="content has-pre-line" :key="paragraph.text" v-for="paragraph in poem"
                           v-html="paragraph.text"></p>
                    </div>

                    <div class="column is-3 go-two is-offset-1">
                        <img :src="require(`@/assets/images/blue.png`)" alt="">

                        <p>Continue on to Writing Part two ?</p>

                        <button class="button is-link" @click="goTwo">Move to Part Two</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  export default {
    name: 'Middle',
    data () {
      return {
        poem: [
          {
            text: 'After discovering the Internet,\n' +
            'my mother has trouble\n' +
            'finding a connection, and\n' +
            '<span class="poem-bold">calls me up for help</span>\n' +
            '<span class="poem-bold">while I am at work.</span>\n' +
            'We keep miscommunicating.'
          },
          {
            text: 'She has clicked open\n' +
            'so many windows\n' +
            'the computer threatens to hang.\n' +
            'And my logic runs out\n' +
            'of variations to explain\n' +
            'the same thing over\n' +
            'and over. Suddenly,'
          },
          {
            text: '<span class="poem-bold">I imagine she is looking</span>\n' +
            '<span class="poem-bold">for her future</span> through\n' +
            'that glowing screen\n' +
            'and I am really helping her'
          },
          {
            text: '<span class="poem-bold">to find back her life after</span>\n' +
            'all her children have left\n' +
            'for new homes\n' +
            'new families to love.\n' +
            '"What now?" she asks.'
          },
          {
            text: '"Try again," I reply, the phone\n' +
            'pressed to my ear. Close all\n' +
            'the windows. Tell me -\n' +
            'what do you see?'
          }
        ]
      }
    },
    methods: {
      goOne () {
        this.$router.push('/')
      },
      goTwo () {
        this.$router.push('/animated-video/3')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .poem-paper {
        background-size: cover;
        min-height: 80vh;
        p {
            font-size: 1.3em;
            white-space: pre-line;
            line-height: 110%;
        }
    }

    .go-one {
        color: #2b2b2b;
        position: relative;
        padding: 0;

        p {
            font-size: 1.75em;
            position: absolute;
            padding: 15% 12% 0;
            top: 0
        }

        button {
            position: absolute;
            left: 12%;
            bottom: 20%;
            color: #2b2b2b;

            &:hover {
                animation: glow 1.5s linear infinite alternate;
            }
        }
    }

    .go-two {
        color: #2b2b2b;
        position: relative;
        padding: 0;

        p {
            font-size: 1.75em;
            position: absolute;
            padding: 20% 12% 0;
            top: 0
        }

        button {
            position: absolute;
            left: 12%;
            bottom: 25%;
            color: #2b2b2b;

            &:hover {
                animation: glow 1.5s linear infinite alternate;
            }
        }
    }

    @keyframes glow {
        to {
            box-shadow: 0px 0px 15px 10px #c9b5ed;
        }
    }
</style>
