<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/yellow-bg.jpg`)})` }">
    <div class="hero-body">
      <div class="">
        <div class="columns is-vcentered">
          <div class="column">
            <div class="columns is-multiline">
              <MatchQuestion :matchQuestion="matchQuestion" :key="matchQuestion.id"
                             v-for="matchQuestion in matchQuestions" @setQuestionMatch="setQuestionMatch"
                             @removeHighlight="removeHighlight" @checkMatch="checkMatch"></MatchQuestion>
            </div>

            <div class="top has-text-centered" v-if="matchedQuestion.id">
              <h1><span class="instruct-word">Match</span> with one of the Answers on the <span class="bottom-word">Bottom</span> 2 rows</h1>
            </div>
            <div class="bottom has-text-centered" v-if="matchedAnswer.id">
              <h1><span class="instruct-word">Match</span> with one of the 5W1H questions on the <span class="top-word">Top</span> 2 rows</h1>
            </div>
            <div class="middle has-text-centered" v-if="!matchedAnswer.id && !matchedQuestion.id">
              <span class="instruct-word">Match</span> each of the 5W1H questions above <span class="top-word">(in blue)</span> with a possible answer below <span class="bottom-word">(in red)</span> by clicking on them.
            </div>

            <div class="columns is-multiline">
              <MatchAnswer :matchAnswer="matchAnswer" :key="matchAnswer.id" v-for="matchAnswer in matchAnswers"
                           @setAnswerMatch="setAnswerMatch" @removeHighlight="removeHighlight"
                           @checkMatch="checkMatch"></MatchAnswer>
            </div>
          </div>
        </div>

        <div class="buttons is-centered">
          <button class="button is-dark goto-animated-video" @click="gotoAnimatedVideo"
                  v-if="isAllMatched">Go to Animated Video
          </button>
        </div>
      </div>
    </div>

    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
      <match-modal :key="isActive" :isActive="isActive" @closeModal="closeModal"/>
    </transition>

    <audio :src="require(`@/assets/audio/mix-match-instruction.mp3`)" autoplay></audio>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import MatchQuestion from '@/components/MatchQuestion'
  import MatchAnswer from '@/components/MatchAnswer'
  import MatchModal from '@/components/MatchModal'

  export default {
    name: 'MixMatch',
    components: { MatchQuestion, MatchAnswer, MatchModal },
    data () {
      return {
        matchedQuestion: {},
        matchedAnswer: {},
        isActive: true
      }
    },
    computed: {
      ...mapState(['matchQuestions', 'matchAnswers']),
      hasMatchingPairs () {
        const hasQuestion = Object.keys(this.matchedQuestion).map(question => this.matchedQuestion[question]).length > 0
        const hasAnswer = Object.keys(this.matchedAnswer).map(answer => this.matchedAnswer[answer]).length > 0

        return hasQuestion && hasAnswer
      },
      isAllMatched () {
        return this.matchQuestions.every(question => question.selected === true)
      }
    },
    methods: {
      removeHighlight () {
        const highlighted = document.querySelectorAll('.box')

        for (let highlight of highlighted) {
          highlight.classList.remove('is-selected')
        }
      },
      setQuestionMatch (question) {
        this.matchedQuestion = question

        this.removeHighlight()
      },
      setAnswerMatch (answer) {
        this.matchedAnswer = answer

        this.removeHighlight()
      },
      isMatched () {
        return this.matchedQuestion.id === this.matchedAnswer.match
      },
      checkMatch () {
        if (this.hasMatchingPairs) {
          if (this.isMatched()) {
            this.$store.commit('setQuestionSelected', this.matchedQuestion)
            this.$store.commit('setAnswerSelected', this.matchedAnswer)

            this.matchedQuestion = {}
            this.matchedAnswer = {}
          } else {
            this.matchedQuestion = {}
            this.matchedAnswer = {}

            this.removeHighlight()
          }
        }
      },
      gotoAnimatedVideo () {
        this.$router.push('/animated-video/4')
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  .middle, .top, .bottom {
    margin-bottom: 1.5%;
    font-size: 1.3em;
    line-height: 100%;

    * {
      font-size: 1.2em;
    }
  }

  .instruct-word {
    color: #b13eff;
  }

  .top-word {
    color: #4da3ff;
  }

  .bottom-word {
    color: #ff5440;
  }
</style>
