<template>
    <div class="dropdown" :class="isActive ? 'is-active' : ''">
        <div class="nav-background" v-show="isActive" @click="setActive"></div>
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3" @click="isActive = !isActive">
                <i class="fa fa-fw fa-bars" aria-hidden="true"></i>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
                <a class="dropdown-item" @click="goVidOne">
                    Pre-Writing: Brainstorming and Organising
                </a>
                <a class="dropdown-item" @click="goStoryBoard">
                    Practice 1a - Brainstorming
                </a>
                <a class="dropdown-item" @click="goOrganise">
                    Practice 1b - Organise your thoughts
                </a>
                <a class="dropdown-item" @click="goVidTwo">
                    Summary
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" @click="goVidThree">
                    Introduction to Writing - 5W1H Thinking Strategy
                </a>
                <a class="dropdown-item" @click="goFiveW">
                    Pre-practice - Consolidate your thinking
                </a>
                <a class="dropdown-item" @click="goMix">
                    Practice 1 - Review your understanding
                </a>
                <a class="dropdown-item" @click="goVidFour">
                    Summary
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" @click="setActive">
                    Return
                </a>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'navbar',
    data () {
      return {
        isActive: false
      }
    },
    methods: {
      setActive () {
        this.isActive = !this.isActive
      },
      goVidOne () {
        this.$router.push('/animated-video/1')
        this.setActive()
      },
      goVidTwo () {
        this.$router.push('/animated-video/2')
        this.setActive()
      },
      goVidThree () {
        this.$router.push('/animated-video/3')
        this.setActive()
      },
      goVidFour () {
        this.$router.push('/animated-video/4')
        this.setActive()
      },
      goStoryBoard () {
        this.$router.push('/storyboard')
        this.setActive()
      },
      goOrganise () {
        this.$router.push('/organise')
        this.setActive()
      },
      goFiveW () {
        this.$router.push('/five-w')
        this.setActive()
      },
      goMix () {
        this.$router.push('/mix-match')
        this.setActive()
      }
    }
  }
</script>

<style lang="scss" scoped>
    .fa-bars {
        color: #4749d9;
    }

    a {
        font-size: 1.2em;
        line-height: 100%;
    }

    .nav-background {
        background-color: rgba(1, 1, 1, 0.7);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .dropdown {
        position: fixed;
        top: 0.3%;
        left: 0.3%;
        z-index: 9999;

        button {
            background-color: beige;
            border-color: #4749d9;
        }
        .dropdown-content {
            background-color: beige;

            .dropdown-item:hover {
                background-color: rgba(71, 73, 217, 0.8);
                color: whitesmoke;
            }
        }
    }
</style>
