<template>
    <section class="hero is-fullheight"
             :style="{ backgroundImage: `url(${require(`@/assets/images/yellow-bg.jpg`)})` }">
        <div class="container">
            <div class="columns is-centered is-multiline is-mobile">
                <div class="card-holder column is-one-fifth has-text-centered is-paddingless" :key="card.id"
                     v-for="card in cards">
                    <img :id="`card-${card.id}`" :src="require(`@/assets/images/cards/revealed-${card.id}.png`)"
                         class="is-card is-hover"
                         draggable="true" :data-match="card.match" @dragstart="onDragStart" alt=""/>
                    <h1 class="card-description">{{ card.description }}</h1>
                </div>
            </div>

            <div class="columns is-centered">
                <div class="column is-one-third" :key="category.id" v-for="category in categories"
                     :class="[ showNextButton ? 'margin-top' : '' ]">
                    <category :category="category" @increaseMatchCount="increaseMatchCount"></category>
                </div>
            </div>

            <!--<transition enter-active-class="animated flipInX">-->
                <!--<div class="buttons is-centered goto-animated-video" v-if="showNextButton">-->
                    <!--<button class="button is-dark" @click="gotoPoem">Next</button>-->
                <!--</div>-->
            <!--</transition>-->
        </div>

        <audio id="audio" :src="require(`@/assets/audio/organise-start.mp3`)" autoplay></audio>
        <audio id="audio-end" src autoplay @ended="gotoPoem"></audio>
    </section>
</template>

<script>
  import { mapState } from 'vuex'
  import Category from '@/components/Category'

  export default {
    name: 'Organise',
    components: {Category},
    data () {
      return {
        categories: [
          {id: 1, text: 'Struggling with Technology', theme: '#fc946f', glow: 'box-shadow: 0px 0px 50px 5px #fc946f;'},
          {
            id: 2,
            text: 'Changed relationship with her children',
            theme: '#79e7f4',
            glow: 'box-shadow: 0px 0px 50px 5px #79e7f4;'
          },
          {
            id: 3,
            text: 'Has a new pursuit because of the Internet',
            theme: '#fed64f',
            glow: 'box-shadow: 0px 0px 50px 5px #fed64f;'
          }
        ],
        matchCount: 0,
        audioCounter: 0
      }
    },
    computed: {
      ...mapState(['cards']),
      showNextButton () {
        return this.matchCount >= this.cards.length
      }
    },
    methods: {
      onDragStart (ev) {
        ev.target.opacity = 0.5

        ev.dataTransfer.setData('text/plain', ev.target.id)
      },
      increaseMatchCount () {
        this.matchCount++
        if (this.matchCount >= this.cards.length) {
          this.gotoPoem()
        }
      },
      showAudioTheme () {
        const audioStart = document.getElementById('audio')
        const audio = document.getElementById('audio-end')
        const glow = document.getElementById(`category-${this.categories[this.audioCounter - 1].id}`)
        audioStart.pause()
        if (this.audioCounter > 1) {
          const removeGlow = document.getElementById(`category-${this.categories[this.audioCounter - 2].id}`)
          removeGlow.classList.remove('audioGlow')
        }
        glow.classList.add('audioGlow')
        audio.src = require(`@/assets/audio/organise-${this.categories[this.audioCounter - 1].id}.mp3`)
        audio.load()

        audio.play()
      },
      gotoPoem () {
        if (this.audioCounter < 3) {
          this.audioCounter++
          this.showAudioTheme()
        } else {
          this.$router.push('/poem')
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
    .is-multiline {
        margin: 2% 0;
    }

    .card-holder {
        position: relative;
    }

    .card-description {
        display: none;
        position: absolute;
        top: 50%;
        color: whitesmoke;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        width: 100%;
        pointer-events: none;
    }

    .audioGlow {
        transition: all 1s;
        transform: scale(1.05);
        animation: glowing 1s ease-in-out infinite;

        img {
            transform: scale(1.05);
        }
    }

    @keyframes glowing {
        0%, 100% {
            box-shadow: 0px 0px 5px 0px #bd7bff;
        }
        50% {
            box-shadow: 0px 0px 45px 5px #bd7bff;
        }
    }

    .is-hover:hover + .card-description {
        display: block;
    }

    .is-card {
        width: 20vh;
        height: 20vh;
    }

    .is-smaller {
        width: 14vh;
        height: 14vh;
    }

    .is-hover {
        cursor: pointer;

        &:hover {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            mix-blend-mode: multiply;
        }
    }

    .margin-top {
        margin-top: 20%;
    }

    .goto-animated-video {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
</style>
