<template>
    <section class="hero is-fullheight"
             :style="{ backgroundImage: `url(${require(`@/assets/images/yellow-bg.jpg`)})` }">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="content has-pre-line" :key="paragraph.text" v-for="paragraph in poem"
                           v-html="paragraph.text"></p>
                    </div>

                    <div class="column box">
                        <div class="has-text-centered post-title">
                            <h1>Has a new pursuit because of the Internet</h1>
                        </div>

                        <div class="post-its">
                            <div class="post">
                                <img class="post-one" :src="require(`@/assets/images/cards/revealed-6.png`)" alt="">
                                <p>{{ cards[5].description }}</p>
                            </div>

                            <div class="post">
                                <img class="post-two" :src="require(`@/assets/images/cards/revealed-9.png`)" alt="">
                                <p>{{ cards[8].description }}</p>
                            </div>
                        </div>

                        <div class="post-its">
                            <div class="post">
                                <img class="post-one" :class="[showNextPost ? 'shake' : '']"
                                     :src="require(`@/assets/images/cards/revealed-5.png`)" alt="">
                                <p>{{ cards[4].description }}</p>
                            </div>

                            <div class="post">
                                <img class="post-two" :class="[showNextPost ? 'shake' : '']"
                                     :src="require(`@/assets/images/cards/revealed-8.png`)" alt="">
                                <p>{{ cards[7].description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns is-centered">
                    <button class="button is-dark goto-animated-video" @click="gotoAnimatedVideo">Next
                    </button>
                </div>
            </div>

            <audio autoplay @ended="showNext" :src="getAudio"></audio>
        </div>
    </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'Poem',
    data () {
      return {
        postCounter: 1,
        showNextPost: false,
        poem: [
          {
            text: 'After discovering the Internet,\n' +
            'my mother has trouble\n' +
            'finding a connection, and\n' +
            '<span class="poem-bold">calls me up for help</span>\n' +
            '<span class="poem-bold">while I am at work.</span>\n' +
            'We keep miscommunicating.'
          },
          {
            text: 'She has clicked open\n' +
            'so many windows\n' +
            'the computer threatens to hang.\n' +
            'And my logic runs out\n' +
            'of variations to explain\n' +
            'the same thing over\n' +
            'and over. Suddenly,'
          },
          {
            text: '<span class="poem-bold">I imagine she is looking</span>\n' +
            '<span class="poem-bold">for her future</span> through\n' +
            'that glowing screen\n' +
            'and I am really helping her'
          },
          {
            text: '<span class="poem-bold">to find back her life after</span>\n' +
            'all her children have left\n' +
            'for new homes\n' +
            'new families to love.\n' +
            '"What now?" she asks.'
          },
          {
            text: '"Try again," I reply, the phone\n' +
            'pressed to my ear. Close all\n' +
            'the windows. Tell me -\n' +
            'what do you see?'
          }
        ]
      }
    },
    computed: {
      ...mapState(['cards']),
      getAudio () {
        let audio = require(`@/assets/audio/poem-${this.postCounter}.mp3`)
        return audio
      }
    },
    methods: {
      gotoAnimatedVideo () {
        this.$router.push('/animated-video/2')
      },
      showNext () {
        if (this.postCounter < 2) {
          this.postCounter++
          this.showNextPost = true
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

    .box {
        background-color: #FDD55B;
        min-height: 40vh;
        border: 2px solid #733623;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        animation: 2s comeOut;
    }

    .post-title {
        color: #733623;
        font-size: 1.5em;
    }

    @keyframes comeOut {
        0% {
            transform: translateY(-100vh) translateX(-10vw) scale(0.2);
        }
        100% {
            transform: translateY(0) translateX(0) scale(1);
        }
    }

    .has-pre-line {
        font-size: 1.2em;
        white-space: pre-line;
        line-height: 120%;
    }

    .post {
        position: relative;
        p {
            position: absolute;
            left: 25%;
        }
    }

    .post-its {
        display: flex;
        justify-content: space-around;
        margin: 5% 0;

        img {
            width: 25vh;
        }
    }

    .shake {
        animation: 1s shake ease-in-out;
        animation-iteration-count: 5;
    }

    @keyframes shake {
        0% {
            transform: rotate(0deg) scale(1.05)
        }
        33.3% {
            transform: rotate(-10deg)
        }
        66.6% {
            transform: rotate(10deg)
        }
        100% {
            transform: rotate(0deg) scale(1.05)
        }
    }

    .goto-animated-video {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
</style>
