<template>
    <section class="hero is-fullheight"
             :style="{ backgroundImage: `url(${require(`@/assets/images/yellow-bg.jpg`)})` }">
        <div class="hero-body">
            <div class="container">
                <div class="title has-text-centered">
                    <h1>What does this poem tell us about <br> the speaker's mother and her life?</h1>
                    <h2>Click through the post-its below for some possible thoughts.</h2>
                </div>
                <div class="columns is-vcentered is-centered is-multiline is-mobile">
                    <div class="post-in column is-one-fifth" :key="card.id" v-for="card in cards">
                        <card :card="card" @openModal="openModal" @setFlippedCard="setFlippedCard"></card>
                    </div>
                </div>

                <transition enter-active-class="animated flipInX">
                    <div class="buttons is-centered goto-organise">
                        <button class="button is-dark" @click="gotoOrganise" v-if="showNextButton">
                            Next
                        </button>
                    </div>
                </transition>
            </div>
        </div>

        <audio id="card-audio" autoplay></audio>

        <transition enter-active-class="animated fadeIn">
            <card-modal :flippedCard="flippedCard" :isModalActive="isModalActive"
                        @closeModal="closeModal"
                        v-if="isModalActive"></card-modal>
        </transition>
    </section>
</template>

<script>
  import { mapState } from 'vuex'
  import Card from '@/components/Card'
  import CardModal from '@/components/CardModal'

  export default {
    name: 'Storyboard',
    components: {Card, CardModal},
    data () {
      return {
        flippedCard: {},
        isModalActive: false,
        cardCount: 0
      }
    },
    computed: {
      ...mapState(['cards']),
      showNextButton () {
        return this.cards.every(card => card.selected === true)
      }
    },
    methods: {
      openModal () {
        this.isModalActive = true
      },
      setFlippedCard (card) {
        const audio = document.getElementById('card-audio')

        this.cardCount++
        this.flippedCard = card
        if (this.showNextButton) {
          audio.src = require(`@/assets/audio/storyboard-ended.mp3`)
          audio.play()
        }
      },
      closeModal () {
        this.isModalActive = false
      },
      gotoOrganise () {
        this.$router.push('/organise')
      }
    }
  }
</script>

<style lang="scss" scoped>
    .title {
        color: #733623;
        margin-top: -5%;
        h1 {
            line-height: 100%;
            font-size: 1.2em;
        }
        h2 {
            font-size: 0.8em;
        }
    }

    .post-in {
        padding: 0;
    }

    .goto-organise {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
</style>
