<template>
  <div id="app">
    <navbar/>
    <div v-show="correctScreen">
      <keep-alive include="Activity">
        <router-view/>
      </keep-alive>
    </div>

    <transition enter-active-class="animated fadeIn">
      <div :key="correctScreen" class="hero is-fullheight rotate-screen"
           :style="{ backgroundImage: `url(${require(`@/assets/images/yellow-bg.jpg`)})` }"
           v-show="!correctScreen">
        <div class="column has-text-centered rotate-screen-text">
          <h1 class="content is-uppercase">Please adjust your screen size {{correctScreen}}</h1>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Navbar from '@/components/Navbar'

  export default {
    name: 'App',
    components: { Navbar },
    computed: {
      ...mapState(['correctScreen'])
    },
    mounted () {
      this.invokeOrientationChange()
      window.addEventListener('resize', this.invokeOrientationChange)
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('correctScreen', window.innerWidth > window.innerHeight && window.innerHeight > window.innerWidth / 3)
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: 'Tobi Black';
    src: url("./assets/fonts/TobiBlack.otf") format('OpenType');
  }

  html, body {
    background-color: #000;
  }

  .rotate-screen {
    background-size: cover;
    background-position: right;

    .rotate-screen-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 5em;
        line-height: 80%;
        color: #cdd3d2;
      }
    }
  }

  *, button {
    font-family: 'Tobi Black', sans-serif;
    font-size: 1vw;
  }

  section {
    background-size: cover;
    background-position: center;
  }

  .poem-bold {
    font-size: 1.2em;
    color: #4da3ff;
  }
</style>
